body {
    margin: 0px;
    text-align: center;
    background-color: #ffc93c;
    font-family: 'Roboto', sans-serif;
}

.login-form {
    background-color: #31326f;
    height: 470px;
    width: 400px;
    position: relative;
    margin: auto;
    top: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 9px rgba(0, 0, 0, 0.39);
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
}

.h1 {
    padding-top: 50px;
    color: white;
    font-weight: 300;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    height: 48px;
    width: 300px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    position: relative;
    top: 20px;
    outline: none;

    font-size: 1.3rem;
}

.button {
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 32px;
    margin-bottom: 10px;
    outline: none;
    cursor:pointer;
    padding-top: 9px;
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    top: 50px;
    background-color: #ffc93c;
}

.button:hover {
    background-color: #b68f2c;
    color: white;
}

::placeholder{
    font-size: 1rem;
}

.drop-btn {
    background-color: #ffc93c;
    width: 300px;
    border: none;
    border-radius: 10px;
    height: 38px;
    margin-bottom: 10px;
    outline: none;
    cursor:pointer;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    top: 20px;
    display: block;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    box-shadow: 05px 05px 18px 0px rgba(0, 0, 0, 0.39);
}

.feedback {
    display: none;
    position: absolute;
    left: 50px;
    top: 278px;
    margin: auto;
    background-color: white;
    min-width: 300px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 05px 05px 18px 0px rgba(0, 0, 0, 0.39);
}

.feedback p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
    padding: 10px 8px;
}

.feedback p:hover {
    background-color: #a5a6c7;
}

.dropdown:hover .feedback {
    display: block;
}

.dropdown:hover .drop-btn {
    background-color: #b68f2c;
    color: white;
}

.new {
    background-color: red;
}

.details {
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.1rem;
    top: 100px;
    margin-bottom: -10px;
}
